<?xml version='1.0' encoding='utf-8'?>
<widget
    id="mb.uca.app"
    version="1.0.0"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
 
    <name>Modellberechnung</name>
    <description>
        Modellberechnung
    </description>
    <author email="nico.beckmann@web.de">
        Nico Beckmann
    </author>
 
    <access origin="*" />
 
    <preference name="EnableDeveloperConsole" value="true"/>
</widget>